<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <h6 class="py-6">Login to Your Account</h6>
        <form action="/session" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="py-3">
            <label for="email">Email:</label>
            <input
              type="email"
              name="email"
              class="border border-gray-600 text-green-900 rounded p-2 w-full"
            />
          </div>
          <div class="py-3">
            <label for="password">Password:</label>
            <input
              type="password"
              name="password"
              class="border border-gray-600 text-green-900 rounded p-2 w-full"
            />
          </div>
          <div class="py-3">
            <button
              type="submit"
              class="text-white bg-green-800 hover:bg-green-600 font-medium rounded px-5 py-2"
            >
              Log In
            </button>
          </div>
        </form>
        <% if (messages.error && messages.error.length > 0) { %>
        <div class="alert alert-danger">
          <ul>
            <% messages.error.forEach(function(error) { %>
            <li><%= error %></li>
            <% }); %>
          </ul>
        </div>
        <% } %> <% if (messages.success) { %>
        <div class="alert alert-success"><%= messages.success %></div>
        <% } %>
      </div>
    </div>
  </body>
</html>
