<div class="task-sections mt-5">
  <!-- Overdue Section -->
  <div class="OverDue mt-4">
    <section title="Overdue">
      <h5 id="overdue" class="text-xl font-bold">
        Overdue (Count: <%= overdueTodos.length %>)
      </h5>
      <ul class="overDueItems list-none">
        <% for (let i = 0; i < overdueTodos.length; i++) { %>
        <li class="Todo-Item flex items-center gap-2 mb-2">
          <input type="checkbox" name="list-item" id="overdue-item-<%= i %>" />
          <label for="overdue-item-<%= i %>" class="text-md text-gray-600">
            <%= overdueTodos[i].title %>
          </label>
          <a href="#" class="hidden trash-icon ml-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>
          </a>
        </li>
        <% } %>
      </ul>
    </section>
  </div>

  <!-- Due Today Section -->
  <div class="DueToday mt-4">
    <section title="Due Today">
      <h5 id="due-today" class="text-xl font-bold">
        Due Today (Count: <%= dueTodayTodos.length %>)
      </h5>
      <ul class="dueTodayItems list-none">
        <% for (let i = 0; i < dueTodayTodos.length; i++) { %>
        <li class="Todo-Item flex items-center gap-2 mb-2">
          <input
            type="checkbox"
            name="list-item"
            id="due-today-item-<%= i %>"
          />
          <label for="due-today-item-<%= i %>" class="text-md text-gray-600">
            <%= dueTodayTodos[i].title %>
          </label>
          <a href="#" class="hidden trash-icon ml-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>
          </a>
        </li>
        <% } %>
      </ul>
    </section>
  </div>

  <!-- Due Later Section -->
  <div class="DueLater mt-4">
    <section title="Due Later">
      <h5 id="due-later" class="text-xl font-bold">
        Due Later (Count: <%= dueLaterTodos.length %>)
      </h5>
      <ul class="dueLaterItems list-none">
        <% for (let i = 0; i < dueLaterTodos.length; i++) { %>
        <li class="Todo-Item flex items-center gap-2 mb-2">
          <input
            type="checkbox"
            name="list-item"
            id="due-later-item-<%= i %>"
          />
          <label for="due-later-item-<%= i %>" class="text-md text-gray-600">
            <%= dueLaterTodos[i].title %>
          </label>
          <a href="#" class="hidden trash-icon ml-2"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>
          </a>
        </li>
        <% } %>
      </ul>
    </section>
  </div>
</div>
