<div class="task-sections mt-5">
  <!-- Overdue Section -->
  <div class="OverDue mt-4">
    <section title="Overdue">
      <h5 id="overdue" class="text-xl font-bold">
        Overdue (Count: <%= overdueTodos.length %>)
      </h5>
      <ul class="overDueItems list-none">
        <% for (let i = 0; i < overdueTodos.length; i++) { %>
        <li class="flex items-center gap-2 mb-2">
          <input type="checkbox" name="list-item" id="overdue-item-<%= i %>" />
          <label for="overdue-item-<%= i %>" class="text-md text-gray-600">
            <%= overdueTodos[i].title %>
          </label>
        </li>
        <% } %>
      </ul>
    </section>
  </div>

  <!-- Due Today Section -->
  <div class="DueToday mt-4">
    <section title="Due Today">
      <h5 id="due-today" class="text-xl font-bold">
        Due Today (Count: <%= dueTodayTodos.length %>)
      </h5>
      <ul class="dueTodayItems list-none">
        <% for (let i = 0; i < dueTodayTodos.length; i++) { %>
        <li class="flex items-center gap-2 mb-2">
          <input
            type="checkbox"
            name="list-item"
            id="due-today-item-<%= i %>"
          />
          <label for="due-today-item-<%= i %>" class="text-md text-gray-600">
            <%= dueTodayTodos[i].title %>
          </label>
        </li>
        <% } %>
      </ul>
    </section>
  </div>

  <!-- Due Later Section -->
  <div class="DueLater mt-4">
    <section title="Due Later">
      <h5 id="due-later" class="text-xl font-bold">
        Due Later (Count: <%= dueLaterTodos.length %>)
      </h5>
      <ul class="dueLaterItems list-none">
        <% for (let i = 0; i < dueLaterTodos.length; i++) { %>
        <li class="flex items-center gap-2 mb-2">
          <input
            type="checkbox"
            name="list-item"
            id="due-later-item-<%= i %>"
          />
          <label for="due-later-item-<%= i %>" class="text-md text-gray-600">
            <%= dueLaterTodos[i].title %>
          </label>
        </li>
        <% } %>
      </ul>
    </section>
  </div>
</div>
